html {
	height:100%;
}
body {
	background: #0000;//url(../images/bg.png);
	width: 1000px;
	margin: 0 auto;
	height: 100%;
}
h1 {
	font: 24px/28px Arial, Tahoma, sans-serif;
	margin: 50px 0;text-align: center;
} 

/* устанавливаем слой затемнения фона,
  ** опрделяем позиции, цвет и интенсивность затемнения  */
.black-overlay{
	display: none;
	position: absolute;
	top: 0%;
	left: 0%;
	width: 100%;
	min-height: 100%;
	background-color: black;
	z-index:1001;
	-moz-opacity: 0.7;
	opacity:.70;
	filter: alpha(opacity=70);
}

.left_menu {
	width: 350px;/* Ширина слоя */
	float: left;
    padding: 5px; /* Поля вокруг текста */
}
   
.content {
    width: 600px;/* Ширина слоя */
	border-left: solid 1px black; 
	float: left;
	height: 100%;
    padding: 5px; /* Поля вокруг текста */
}    